.title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.paper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button {
    width: 100%;
}
